body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

.container {
  width: 300px;
  height: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.gallery {
  width: 300px;
  height: 3900px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
}

.holder {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 9px;
}

.space-image {
  transform: scale(.50);
  width: 300px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

#explanation {
  color: white;
}

.space-image:hover {
  opacity: 0.7;
}

h1 {
  font-family: nasalization, sans-serif;
  color: white;
  font-size: 28px;
  margin-top: 2em;
  z-index: 1;
  animation-name: title-animation;
  animation-duration: 3s;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .7)
}

#modal-image {
  margin: 150px auto;
  width: 80%;
  height: 80%;
  border-radius: 2px;
  background-size: contain;
  background-repeat: no-repeat;
}

#close-modal {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-family: nasalization, sans-serif;
  background-color: black;
  border: 0;
  pading: 0;
}

#previousBtn {
  position: fixed;
  left: 5px;
  top: 50%;
  width: 50px;
  height: 50px;
  font-family: nasalization, sans-serif;
  border: 0;
  color: rgba(255,255,255, 1);
  background-color: black;
  font-size: 25px;
  animation-name: title-animation;
  animation-duration: 3s;
}
#nextBtn {
  position: fixed;
  right: 5px;
  top: 50%;
  width: 50px;
  height: 50px;
  font-family: nasalization, sans-serif;
  border: 0;
  color: rgba(255,255,255, 1);
  background-color: black;
  font-size: 25px;
  animation-name: title-animation;
  animation-duration: 3s;
}


@media(min-width: 950px){
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
  }

  .container {
    width: 1000px;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .gallery {
    width: 1000px;
    height: 3900px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    animation-name: gallery-fade-in;
    animation-duration: 5s;
  }

  .holder {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
  }

  .space-image {
    transform: scale(.75);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
  }

  #explanation {
    color: white;
  }

  .space-image:hover {
    opacity: 0.7;
  }

  h1 {
    font-family: nasalization, sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: white;
    animation-name: title-animation;
    animation-duration: 3s;
  }

  #modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .7)
  }

  #modal-image {
    margin: 150px auto;
    width: 80%;
    height: 80%;
    border-radius: 2px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #close-modal {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-family: nasalization, sans-serif;
    font-size: 35px;
    background-color: black;
    border: 0;
    pading: 0;
  }

  #previousBtn {
    position: fixed;
    left: 10px;
    top: 50%;
    width: 50px;
    height: 50px;
    font-family: nasalization, sans-serif;
    color: rgba(255,255,255, 1);
    border: 0;
    animation-name: title-animation;
    animation-duration: 3s;
  }
  #nextBtn {
    position: fixed;
    right: 10px;
    top: 50%;
    width: 50px;
    height: 50px;
    font-family: nasalization, sans-serif;
    color: rgba(255,255,255, 1);
    border: 0;
    animation-name: title-animation;
    animation-duration: 3s;
  }
}



@keyframes title-animation {
  0% {color: black;}
  100%{color: white;}
}

@keyframes gallery-fade-in {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
